@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

//Font family
$font-main: "Inter", sans-serif;

// Colour Pallete
$bg-black: #141414;
$bg-dark-grey: #1f1f1f;
$bg-grey: #333333;

// Text Colours
$txt-white: #ffffff;
$text-dark: #333333;

// Accent Colours
$neon-green: #c4f82a;
